                    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header ">                  
                    {{button "exchange.add"  $.buttons  nil}} 
                </div>
                <div class="box-body">
                    <form class="form-inline searchForm" id="searchForm" action='{{urlfor "ExchangeRateController.Index"}}' method="GET">
                        <div class="form-group">
                            <input value="{{._keywords}}"
                                   name="_keywords" id="_keywords" class="form-control input-sm" placeholder='{{i18n "master.exchange_rate.currency_code"}}'>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> {{i18n "app.search"}}
                            </button>
                        </div>
                        <div class="form-group">
                            <button onclick="clearSearchForm()" class="btn btn-sm btn-default" type="button"><i
                                    class="fa  fa-eraser"></i> {{i18n "app.reset"}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body table-wrap">
                    <table class="table table-hover table-bordered " id="tblExchangeRate" width="100%">
                        <thead>
                        <tr>
                            <th>
                                <input id="dataCheckAll" type="checkbox" onclick="checkAll(this)" class="checkbox" placeholder='{{i18n "app.toggle"}}'>
                            </th>
                            <th>ID</th>
                            <th>{{i18n "master.exchange_rate.currency_code"}}</th>
                            <th>{{i18n "master.exchange_rate.rate"}}</th>
                            <th>{{i18n "master.exchange_rate.date"}}</th>
                            <th>{{i18n "db.actions"}}</th>							
                        </tr>
                        </thead>
                        <tbody>
                        {{range $key,$item := .data}}
                        <tr>
                            <td>
                                <input type="checkbox" onclick="checkThis(this)" name="data-checkbox"
                                       data-id="{{$item.Id}}" class="checkbox data-list-check" value="{{$item.Id}}">
                            </td>
							<td>{{$item.Id}}</td>
								<td>{{$item.CurrencyCode}}</td>
								<td>{{$item.Rate}}</td>
                                <td>{{$item.Rate}}</td>
                            <td class="td-do">
                                {{button "exchange.edit"  $.buttons  $item}}            
                            </td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                

            </div>
        </div>
    </div>
</section>


                