{{if ne true .admin.pjax}}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_xsrf" content="{{.xsrf_token}}" />
    <meta name="renderer" content="webkit">
{{end}}

    <title>{{if eq .admin.title ""}}Quince {{else}}{{i18n  .admin.title}}{{end}} | {{if eq .admin.name ""}}Admin{{else}}{{.admin.name}}{{end}}</title>

{{if ne true .admin.pjax}}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {{template "admin/views/public/head_css.html" .}}
    {{template "admin/views/public/head_js.html" .}}
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse"><!-- sidebar-collapse default -->
<div class="wrapper">
{{end}}

    <!-- header -->
    {{template "admin/views/public/header.html" .}}
    {{template "admin/views/public/flash.html" .}}
       
    <!-- sidebar -->
    {{template "admin/views/public/sidebar.html" .}}
    <!-- content -->
    <div class="content-wrapper" id="pjax-container">  
         {{.LayoutContent}}
    </div>
    {{template "admin/views/public/footer.html" .}}

    {{template "admin/views/public/control_sidebar.html" .}}

{{if ne true .admin.pjax}}
</div>
{{end}}

{{if ne true .admin.pjax}}
</body>
</html>
{{end}}
