<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="form-inline searchForm" id="searchForm" action={{urlfor "AdminLogController.Index"}} method="GET"><!--"/admin/admin_log/index" -->
                        <div class="form-group">
                            <input value="{{._keywords}}"
                                   name="_keywords" id="_keywords" class="form-control input-sm" placeholder="METHOD/URL/IP">
                        </div>

                        <div class="form-group">
                            <select name="admin_user_id" id="admin_user_id" class="form-control input-sm">
                                <option value=""> {{i18n  "app.user"}}</option>
                                {{range $key,$item := .admin_user_list }}
                                <option value="{{$item.Id}}" {{if compare $.admin_user_id $item.Id }} selected {{end}}>
                                {{$item.User.Nickname}}[{{$item.LoginName}}]
                                </option>
                                {{end}}
                            </select>
                        </div>
                        <script>
                            $('#admin_user_id').select2({
                                width:'100%',
                            });
                        </script>

                        <div class="form-group">
                            <input readonly value="{{.create_time}}"
                                   name="create_time" id="create_time" class="form-control input-sm indexSearchDatetimeRange" placeholder="{{i18n  "app.date_time"}}">
                        </div>
                        <script>
                            laydate.render({
                                elem: '#create_time'
                                ,range: true
                                ,type:'datetime'
                                ,lang:'{{.admin.jsLang}}'
                            });
                        </script>

                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i>{{i18n  "app.search"}}
                            </button>
                        </div>
                        <div class="form-group">
                            <button onclick="clearSearchForm()" class="btn btn-sm btn-default" type="button"><i
                                    class="fa  fa-eraser"></i> {{i18n  "app.reset"}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered datatable" width="100%">

                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{i18n  "app.user"}}</th>
                            <th>{{i18n  "app.action"}}</th>
                            <th>URL</th>
                            <th>{{i18n  "app.request"}}</th>
                            <th>IP</th>
                            <th>{{i18n  "app.date_time"}}</th>
                            <th> <i class="fa fa-eye"></i></th>
                        </tr>
                        </thead>

                        <tbody>
                        {{ $admin := .admin }}
                        {{range $key,$item := .data}}
                        <tr>
                            <td>{{$item.Id}}</td>
                            <td>{{range $key2,$item2 := $.admin_user_list }}{{if eq $item.AdminUserId $item2.Id}}{{$item2.LoginName}}{{end}}{{end}}</td>
                            <td>{{$item.Name}}</td>
                            <td>{{$item.Url}}</td>
                            <td>{{$item.LogMethod}}</td>
                            <td>{{$item.LogIp}}</td>
                            <td>{{$item.CreateTime | TimeFormat }}</td>
                            <td class="td-do">
                                <a data-id="{{$item.Id}}" data-url="view" data-confirm="2" data-type="2"
                                   class="btn btn-default btn-xs AjaxButton" data-title="{{i18n  "app.details"}}" title="{{i18n  "app.details"}}" data-toggle="tooltip">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                {{template "admin/views/public/pagination.html" .}}
            </div>
        </div>
    </div>
</section>
