<section class="content">
   <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered datatable" width="100%">

                        <thead>
                        <tr>
                            <th>{{i18n  "app.method"}}</th>
                            <th>{{i18n  "app.url"}}</th>
                            <th>{{i18n  "app.function"}}</th>
                            <th>{{i18n  "app.controller"}}</th>

                        </tr>
                        </thead>

                        <tbody>
                           {{ $admin := .admin }}
                            {{range $key,$item := .data}}
                            <tr>
                                <td>{{$item.Method}}</td>
                                <td>{{$item.Url}}</td>
                                <td>{{$item.Function}}</td>
                                <td>{{$item.Controller}}</td>
     
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</section>